// Variables
$font: Roboto, sans-serif;
$secondFont: Acme, sans-serif;

// Mixins
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}



.wrapper {
  min-height: 100vh;
  background: url('/img/wrapper-bg.jpg') top center no-repeat #111;
  font-family: $font;
  color: #fff;
}
.header {
  height: 300px;
  box-shadow: 6px 0px 12px 0px #111;
  background: url('/img/header.jpg') center center no-repeat;
  background-size: cover;
  &_logo {
    font-family: $secondFont;
    font-size: 54px;
    color: #fff;
    display: inline-block;
    padding: 50px;
    background: radial-gradient(rgba(0, 0, 0, 0.7), transparent);
    letter-spacing: 2px;
  }
}

.content {
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: 6px 0px 12px 0px #111;
  flex-grow: 1;
}
.footer {
  box-shadow: 6px 0px 12px 0px #111;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #444;
}

