// Variables
$font: Roboto, sans-serif;
$secondFont: Play, sans-serif;
$logoFont: Acme, sans-serif;
$shadow: 6px 6px 12px #111;

// Mixins
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// Function for converting a px based font-size to rem.
@function rem($size) {
  @return #{$size / 16px}rem;
}

html {
  font-size: 16px;
}
@media (max-width: 575px) {
  html {
    font-size: 14px;
  }
}
a:hover {
  text-decoration: none;
}
.wrapper {
  min-height: 100vh;
  background: url('../img/wrapper-bg.jpg') top center no-repeat #111;
  font-family: $font;
  color: #fff;
}
.header {
  position: relative;
  height: 300px;
  box-shadow: $shadow;
  background: url('../img/header.jpg') center center no-repeat;
  background-size: cover;
}
.logo {
  display: inline-block;
  margin: 100px 0 0 30px;
  white-space: nowrap;
  font-family: $logoFont;
  font-size: rem(84px);
  line-height: 0.9;
  color: #ffbd0c;
  transition: all .5s;
  text-shadow: $shadow;
  overflow: hidden;
  &:hover {
    transition: all .5s;
    text-shadow: -6px -6px 12px #000;
  }
  &_ball {
    display: inline-block;
    background: url('../img/ball.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
  }
  &:hover &_ball {
      transition: all 1.5s;
      transform: rotate(360deg);
  }
}
.mainMenu {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #373737;
  padding: 0 rem(30px);
  &_item {
    position: relative;
    padding: 0 rem(16px);
    font-family: $secondFont;
    font-size: rem(20px);
    letter-spacing: rem(1.5px);
    line-height: 2;
    text-transform: uppercase;
    color: #fff;
    transition: all .5s;
    &::before {
      content: "";
      display: block;
      position: absolute;
      bottom: 120%;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 20px;
      background: url('../img/ball.svg');
      background-size: cover;
      opacity: 0;
      transition: all .5s;
    }
    &:hover {
      color: #ffbd0c;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}


.content {
  padding: 1.5rem;
  background-color: #252525;
  box-shadow: $shadow;
  flex-grow: 1;
}
.footer {
  box-shadow: $shadow;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #444;
}

